.articles{
	position: relative;
	margin-bottom: 60px;
	&__item{
		display: flex;
		flex-wrap: wrap;
		background-color: #f6f6f6;
		margin-bottom: 20px;
	}
	&__figure{
		flex:1 1 200px;
		max-width: 200px;
		margin: 0;
		img{
			height: auto;
			display: block;
			margin: 0;
			object-fit: cover;
		}
	}
	&__content{
		flex: 1 1;
		padding: 30px 22px 20px;
	}
	&__name{
		margin: 0 0 13px;
		padding: 0;
		color: #202020;
		font-size: 16px;
		font-weight: 500;
	}
	&__anons{
		font-size: 13px;
	}
	&__comments{
		margin-top: 7px;
		font-size: 13px;
	}
}