.footer-menu{
	list-style: none;
	padding: 0;
	margin: 0;
	&__item{
		margin-bottom: 11px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__link{
		color: #444;
		font-size: 14px;
		text-decoration: none;
	}
}