.main-catalog{
	margin-bottom: 60px;
	&__header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 30px;
	}
	&__title{
		font-size: 22px;
		line-height: 24px;
		color: #202020;
		margin: 0;
	}
	&__link{
		color: #777777;
		font-size: 16px;
		&:hover{
			text-decoration: none;
			color: #007bff;
		}
	}
	&__body{
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		grid-gap: 20px;
	}
}