.main-section{
	margin-bottom: 60px;
	&__header{
		text-align: center;
		margin-bottom: 30px;
	}
	&__title{
		color: #202020;
		font-size: 25px;
		line-height: 27px;
		margin: 0 0 10px;
	}
	&__subtitle{
		font-size: 17px;
		color: #444;
		margin: 0;
	}
	&__body{
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}
	&__item{
		flex: 1 0 calc(25% - 20px);
		min-width: 200px;
		display: flex;
		gap: 20px;
		text-decoration: none;
		align-items: center;
	}
	&__figure{
		flex: 1 0 66px;
		flex-shrink: 0;
		max-width: 66px;
		height: 66px;
		overflow:hidden;
		border-radius: 50%;
		margin: 0;
		img{
			display: block;
			height: auto;
			object-fit: cover;
			margin: 0 auto;
		}
	}
	&__content{

	}
	&__name{
		font-size: 15px;
		color: #444;
		margin-bottom: 5px;
	}
	&__count{
		color: #777;
		font-size: 12px;
	}
	@include r(767){
		&__body{
			gap: 10px;
		}
		&__item{
			flex: 1 0 calc(50% - 10px);
			max-width: 50%;
			gap: 10px;
			min-width: auto;
		}
	}
	@include r(424){
		&__item{
			display: block;
			text-align: center;
		}
		&__figure{
			flex: 1 0 66px;
			flex-shrink: 0;
			max-width: 66px;
			height: 66px;
			overflow:hidden;
			border-radius: 50%;
			margin: 0 auto;
		}
	}
}