.main-section{
	margin-bottom: 60px;
	&__header{
		text-align: center;
		margin-bottom: 30px;
	}
	&__title{
		color: #202020;
		font-size: 25px;
		line-height: 27px;
		margin: 0 0 10px;
	}
	&__subtitle{
		font-size: 17px;
		color: #444;
		margin: 0;
	}
	&__body{
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}
	&__item{
		flex: 1 0 260px;
		max-width: 280px;
		display: flex;
		gap: 21px;
		text-decoration: none;
		align-items: center;
	}
	&__figure{
		width: 66px;
		height: 66px;
		overflow:hidden;
		border-radius: 50%;
		margin: 0;
		img{
			display: block;
			height: auto;
			object-fit: cover;
		}
	}
	&__content{

	}
	&__name{
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: 15px;
		color: #444;
		margin-bottom: 5px;
	}
	&__count{
		color: #777;
		font-size: 12px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}