.main-promo{
	padding: 40px 0;
	background-color: #fafafa;
	&__header{
		margin-bottom: 30px;
		text-align: center;
	}
	&__title{
		color: #202020;
		font-size: 20px;
		margin: 0 0 10px;
	}
	&__subtitle{
		color: #202020;
		font-size: 16px;
		margin: 0;
	}
	&__body{
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}
	&__item{
		flex: 1 0 calc(25% - 20px);
		padding: 0 10px;
		display: block;
		text-decoration: none;
		text-align: center;
		box-shadow: 1px 0 0 0 #e5e5e5;
		&:last-child{
			box-shadow: none;
		}
	}
	&__icon{}
	&__name{
		font-size: 18px;
		line-height: 20px;
		color: #202020;
		margin: 0 0 10px;
	}
	&__anons{
		color: #777;
		font-size: 13px;
		margin: 0;
	}
	@include r(767){
		&__item{
			flex: 1 0 calc(50% - 20px);
			padding: 0 10px;
			display: block;
			text-decoration: none;
			text-align: center;
			box-shadow: 1px 0 0 0 #e5e5e5;
			&:nth-of-type(2),
			&:last-child{
				box-shadow: none;
			}
		}
	}
}