<div class="footer">
    <div class="container">
        <div class="footer__body">
            <div class="footer__item">
                <div class="footer__logo">NEVAR</div>
            </div>
            <div class="footer__item">
                <div class="footer__title">Платные услуги</div>
                <ul class="footer-menu">
                    <li class="footer-menu__item"><a class="footer-menu__link" href="">Партнерская программа</a></li>
                    <li class="footer-menu__item"><a class="footer-menu__link" href="">Реклама на сайте</a></li>
                    <li class="footer-menu__item"><a class="footer-menu__link" href="">Платные услуги</a></li>
                    <li class="footer-menu__item"><a class="footer-menu__link" href="">Контакты</a></li>
                </ul>
            </div>
            <div class="footer__item">
                <div class="footer__title">Информация</div>
                <ul class="footer-menu">
                    <li class="footer-menu__item"><a class="footer-menu__link" href="">Политика конфиденциальности</a></li>
                    <li class="footer-menu__item"><a class="footer-menu__link" href="">Правила сайта</a></li>
                    <li class="footer-menu__item"><a class="footer-menu__link" href="">Помощь</a></li>
                    <li class="footer-menu__item"><a class="footer-menu__link" href="">Статьи</a></li>
                </ul>
            </div>
            <div class="footer__item">
                <div class="footer__title">Пользователю</div>
                <ul class="footer-menu">
                    <li class="footer-menu__item"><a class="footer-menu__link" href="">Создать магазин</a></li>
                    <li class="footer-menu__item"><a class="footer-menu__link" href="">Личный кабинет</a></li>
                    <li class="footer-menu__item"><a class="footer-menu__link" href="">Регистрация</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__copy">
            © 2022 nevar – доска бесплатных объявлений
        </div>
    </div>
</div>