<header class="header">
    <div class="container">
        <div class="header__top">
            <a href="" class="header__logo">NEVAR</a>
            <div class="header__city">Анталья</div>
            <div class="header__favorite">Избранное</div>
            <a href="#" class="header__login btn btn-light">Личный кабинет</a>
        </div>
        <div class="header__bottom">
            <div class="header__search">
                <form class="header-form-search" action="">
                    <input class="form-control" type="text" placeholder="Что вы ищете?">
                    <input class="header-form-search__btn btn btn-icon" type="submit" value="">
                </form>
            </div>
            <div class="header__nav">
                <ul class="nav-header">
                    <li class="nav-header__item"><a class="nav-header__link" href="">Категории</a></li>
                    <li class="nav-header__item"><a class="nav-header__link" href="">Магазины</a></li>
                    <li class="nav-header__item"><a class="nav-header__link btn btn-primary" href="">Подать объявление</a></li>
                </ul>
            </div>
        </div>


            @@if (nav === 'Y') {

            }
    </div>
</header>