@import "./partials/normalize";
@import "./partials/swiper-bundle";
@import "./partials/remodal";
@import "./partials/remodal-default-theme";
@import "mixin";
@import "fonts";
@import "buttons";
@import "form";
@import "remodal";
@import "icon";
@import "text";


* {
	box-sizing: border-box;
}

body {
	background-color: #fff;
	&.lock {
		overflow: hidden;
	}
}


.wrp {
	position: relative;
	font-family: Arial,sans-serif;
}


.container {
	max-width: 1150px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 20px;
	padding-left: 20px;
}

p {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #333333;
}
a{
	transition: .3s ease;
	text-decoration: none;
	color: #007bff;
	&:hover{
		text-decoration: underline;
	}
}

.d-none {
	display: none !important;
}

.d-flex {
	display: flex;
}

.d-block {
	display: block;
}

.d-desktop-none {
	display: none;
	@include r(767) {
		display: block;
	}
}

.d-mobile-none {
	display: block;
	@include r(767) {
		display: none !important;
	}
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.main{
	&--page{
		margin-bottom: 100px;
		padding-top: 30px;
		box-shadow: 0 22px 30px 0 #f5f6f6 inset;
		border-top: 1px solid #f2f2f2;
	}
	&__h1{
		color: #202020;
		font-size: 25px;
		line-height: 27px;
		margin: 0 0 30px;
	}
	&__row{
		display: grid;
		grid-template-columns: 1fr minmax(280px,1fr);
	}
	&__content{
	}
	&__aside{
	}
	@include r(767){
		&--page{
			padding: 45px 0;
		}
		&__h1{
			font-size: 40px;
			line-height: 40px;
			margin: 0 0 25px;
		}
	}
}




@import "componets/header";
@import "componets/nav-header";
@import "componets/header-form-search";
@import "componets/footer";
@import "componets/main-slider";
@import "componets/main-section";
@import "componets/product-item";
@import "componets/main-catalog";
@import "componets/main-news";
@import "componets/main-promo";
@import "componets/footer-menu";
@import "componets/form-login";
@import "componets/dropdown-menu";



